:root {
  --rainbow: linear-gradient(
    90deg,
    red, orange, yellow, green, blue, indigo, violet
  );
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  transition: 0.3s;
}

body.light {
  background: #f2f2f2;
  color: #222;
}

body.dark {
  background: #111;
  color: #f5f5f5;
}

.app {
  max-width: 430px;
  margin: auto;
  min-height: 100vh;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 1.6em;
  background: var(--rainbow);
  -webkit-background-clip: text;
  color: transparent;
}

.subtitle {
  text-align: center;
  font-size: 0.95em;
  opacity: 0.8;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input {
  padding: 12px;
  font-size: 1em;
  border-radius: 10px;
  border: none;
}

.buttons {
  display: flex;
  gap: 10px;
}

button {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 12px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  background: var(--rainbow);
  color: rgb(253, 253, 251);
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}

button.danger {
  background: crimson;
}

.lista {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 45vh;
  overflow-y: auto;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  background: rgba(0,0,0,0.05);
  animation: fade 0.3s ease;
}

body.dark .item {
  background: rgba(255,255,255,0.08);
}

.total {
  margin-top: auto;
  text-align: center;
  padding: 15px;
  border-radius: 15px;
  background: var(--rainbow);
  color: white;
}

.total strong {
  font-size: 1.6em;
}

footer {
  text-align: center;
  font-size: 0.85em;
  opacity: 0.7;
}

@keyframes fade {
  from { opacity: 0; transform: translateY(5px); }
  to { opacity: 1; transform: translateY(0); }
}


